<html>
  <header>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Krana Handmade</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
  </header>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand crane-header" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#aboutme">About Me</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactme">Contact Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#etsy">Store/Etsy</a>
          </li>
      </div>
    </nav>
    <section id="landing">
      <div class="d-flex flex-column align-items-center justify-content-center h100">
        <img class="crane" src="/img/crane.svg">
        <h3 class="mt-2">Multimedia Art &amp; Jewelry</h3>
      </div>
    </section>
    <section id="aboutme">
      <div class="p-2 mh100 bg-dark color-fff">
        <div class="d-flex flex-column align-items-center">
          <div data-aos="fade-left" class="text-center">
            <h1>Krana Handmade</h1>
            <h3>By Swetha Sriram</h3>
            <img class="headshot" src="/img/headshot.jpg">
          </div>
        </div>
        <div class="who">
          <div class="d-flex flex-column align-items-center w-75 mx-auto">
              <hr class="w-100">
              <h3>Who am I?</h3>
              <hr class="w-100">
            </div>
            <div class="aboutme-content">
              <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis optio ex corrupti dolore doloribus, repellendus deleniti officia quam molestias earum minima harum facilis quaerat esse ipsum natus quibusdam. Soluta velit quaerat voluptatum repellat, unde quidem quisquam suscipit eos, maiores iste, accusantium quod repudiandae incidunt sint nulla eius adipisci magni at aliquid? Placeat, sit quaerat eos ipsa quas ipsam voluptatem temporibus ducimus nemo fugit accusamus quia est maiores velit enim natus odio labore. Debitis harum non dolorum quas soluta dolorem eum suscipit rerum vitae provident. Velit, suscipit distinctio illum accusantium dicta autem repellendus voluptate repellat impedit eligendi iure. Animi, amet. Laboriosam!
              </p>
            </div>
        </div>
        <div class="things">
          <div class="d-flex flex-column align-items-center w-75 mx-auto">
              <hr class="w-100">
              <h3>Things I've Done</h3>
              <hr class="w-100">
            </div>
            <div class="aboutme-content">
              <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis optio ex corrupti dolore doloribus, repellendus deleniti officia quam molestias earum minima harum facilis quaerat esse ipsum natus quibusdam. Soluta velit quaerat voluptatum repellat, unde quidem quisquam suscipit eos, maiores iste, accusantium quod repudiandae incidunt sint nulla eius adipisci magni at aliquid? Placeat, sit quaerat eos ipsa quas ipsam voluptatem temporibus ducimus nemo fugit accusamus quia est maiores velit enim natus odio labore. Debitis harum non dolorum quas soluta dolorem eum suscipit rerum vitae provident. Velit, suscipit distinctio illum accusantium dicta autem repellendus voluptate repellat impedit eligendi iure. Animi, amet. Laboriosam!
              </p>
            </div>
          </div>
        </div>
    </section>
    <section id="contactme">
      <div data-aos="fade-right" class="w-75 mx-auto my-2">
        <hr>
        <h3 class="text-center">Contact Me</h3>
        <hr>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center mh50">
        <form data-aos="fade-up" class="w-75 mx-auto contactme-form">
          <div class="form-group">
            <label for="emailAddress">Email Address:</label>
            <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="your-email@domain.com">
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea type="text" class="form-control" id="message" rows="5" placeholder="Hi, Swetha!  We're just messaging you to tell you that your work is amazing..."></textarea>
          </div>
          <button type="submit" class="btn w-100 btn-primary">Submit</button>
        </form>
      </div>
    </section>
    <section id="etsy">
      <div class="bg-dark color-fff py-3">
        <div data-aos="fade-right" class="w-75 mx-auto my-3">
          <hr>
          <h3 class="text-center">Etsy</h3>
          <hr>
        </div>
        <div class="d-flex flex-column align-items-center w-75 mh25 py-3 mx-auto">
          <a data-aos="fade-down" href="https://www.etsy.com/shop/KranaHandmade"><button class="btn btn-primary">Click Here to Visit My Etsy</button></a>
          <p data-aos="fade-down" class="m-2 text-justify">
            If you're interested in purchasing any of my work or seeing any projects that are not captured here, please visit my Etsy! Purchases through Etsy are by far the best way to support my passion for creation. Not only do your purchases fund me with the income to source further projects, but they show me just how much you enjoy my products and motivates me to continue to work hard to continue Krana Handmade.
          </p>
        </div>
      </div>
    </section>
    <section id="gallery">
      <div class="d-flex flex-column mh100">
        <div class="my-2 mx-auto w-75">
          <hr>
          <h3 data-aos="fade-right"  class="text-center">My Gallery</h3>
          <hr>
        </div>
        <div class="p-2 gallery">
          <% images.forEach(image => { %>
              <img data-aos="fade-down" class="pt-2" src="<%= image %>">     
          <% }) %>
        </div>
      </div>
    </section>
    <section id="footer">
      <small>Created by Jonathan Small</small>
    </section>
  <script src="/js/lib/jquery-3.3.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>
</html>