<html>
  <header>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Krana Handmade</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
  </header>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Krana Handmade</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#aboutme">About Me</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactme">Contact Me</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link" href="#etsy">Store/Etsy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">Gallery</a>
          </li>
      </div>
    </nav>
    <section id="landing">
      <div class="d-flex flex-column align-items-center justify-content-center h100">
        <img class="crane" src="/img/crane.svg">
        <h3 class="mt-2">Multimedia Art &amp; Jewelry</h3>
      </div>
    </section>
    <section id="aboutme" class="mh100">
      <div class="p-2 mh100 bg-dark color-fff">
        <div class="d-flex flex-column align-items-center">
          <h1>Krana Handmade</h1>
          <h3>By Swetha Sriram</h3>
          <img class="headshot" src="/img/headshot.jpg">
        </div>
        <div class="d-flex flex-column align-items-center w-75 mx-auto">
          <hr class="w-100">
          <h3 class="text-center">The Mind Behind the Shapes</h3>
          <hr class="w-100">
        </div>
        <div class="aboutme-content">
          <p class="text-justify">
            My name is Swetha and I love to make things. I make things out of paper, wood, plastic, metal, and basically whatever else I can get my hands on. I love the challenge of putting together sculptures, figuring out where the pieces go and how to get the shapes I picture in my mind. I recently graduated from Rensselaer Polytechnic Institute with a degree in Industrial Engineering. I think my engineering background gives me a different perspective for my artwork. I like to think of ways to incorporate what I’ve learned into my work, making things that move and work like machines, but still portray the artistic side of me. In college I worked a lot with laser cutters and in machine shops to create multimedia sculptures. I was really interested in making unique clocks, especially ones focused around planetary gear systems. I also travel a lot with my family and I take a lot of inspiration from the places I’ve been and the architecture and art from different countries. I’m hoping to visit 100 countries by the time I’m 30 and build a crazy sculpture to commemorate that milestone. 
          </p>
          <p class="text-justify">
            I’ve been working on origami (the Japanese art of paper folding) since I was seven. I’d sit in my room for hours by myself and appear suddenly with a finished sculpture. Many of the photos in my gallery are things I worked on when I was quite young and revisited and tried to improve on when I was older. I enjoy researching other origami artists and using their techniques with mine to create new pieces. Sometimes, I fold paper without even realizing it and end up with gum wrapper cranes all over my desk! Right now, I’m focusing on learning more about origami tessellations and how to use them to create some larger sculptures.
          </p>
          <p class="text-justify">
            I’ve started working a lot with copper, mainly to create my roses, but I’ve also been trying to incorporate it with the paper to create more durable and visually interesting sculptures. I have some wood and copper projects in the works too so hopefully I’ll be able to share that soon! Thanks for taking the time to read this, I hope you enjoy my art as much as I do!                  
          </p>
        </div>
    </section>
    <section id="contactme">
      <div class="w-75 mx-auto my-2">
        <hr>
        <h3 class="text-center">Contact Me</h3>
        <hr>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center mh50">
        <form class="w-75 mx-auto contactme-form" action="/" method="POST">
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="your-email@domain.com">
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea type="text" class="form-control" id="message" name="message" rows="5" placeholder="Hi, Swetha!  We're just messaging you to tell you that your work is amazing..."></textarea>
          </div>
          <button type="submit" class="btn w-100 btn-primary">Submit</button>
        </form>
      </div>
    </section>
    <section id="etsy" class="mh25">
      <div class="bg-dark color-fff py-3">
        <div class="w-75 mx-auto my-3">
          <hr>
          <h3 class="text-center">Etsy</h3>
          <hr>
        </div>
        <div class="d-flex flex-column align-items-center w-75 py-3 mx-auto">
          <img class="etsy" src="/img/etsy-logo.jpg">
          <p class="m-2 text-justify">
            <strong>What is Etsy?</strong>
          </p>
          <p class="m-2 text-justify w-100">
            "Etsy is the global marketplace for unique and creative goods. It’s home to a universe of special, extraordinary items, from unique handcrafted pieces to vintage treasures." - Etsy.com
          </p>
          <p class="m-2 text-justify w-100">
            If you're interested in purchasing any of my work or seeing any projects that are not captured here, please visit my Etsy! Purchases through Etsy are by far the best way to support my passion for creation. Not only do your purchases fund me with the income to source further projects, but they show me just how much you enjoy my products and motivates me to continue to work hard to continue Krana Handmade. Should you have any questions about anything you see or any requests for alternate items, please contact me via the form above. Your support is much appreciated and I look forward to sharing my art with you.
          </p>
          <a href="https://www.etsy.com/shop/KranaHandmade"><button class="btn btn-primary">Click Here to Visit My Etsy Store</button></a>
        </div>
      </div>
    </section>
    <section id="gallery">
      <div class="d-flex flex-column mh100">
        <div class="my-2 mx-auto w-75">
          <hr>
          <h3 class="text-center">My Gallery</h3>
          <hr>
        </div>
        <div class="p-2 gallery">
          <% images.forEach(image => { %>
            <button class="transparent img-modal-btn" data-toggle="modal" data-target="#img-modal" data-src="<%= image %>">
              <img class="pt-2" src="<%= image %>">    
            </button> 
          <% }) %>
        </div>
      </div>
      <div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <img id="modal-img">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer">
      <small>Created by Jonathan Small</small>
    </section>
  <script src="/js/lib/jquery-3.3.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>
  </body>
</html>