body {
  overflow-x: hidden;
}

.crane {
  width: 40%;
  max-width: 400px;
}

.headshot {
  border-radius: 200px;
  width: 40%;
  max-width: 400px;
}

.h100 {
  height: calc(100% - 56px);
}

.mh100 {
  min-height: 100%;
}
.mh50 {
  min-height: 50%;
}

.mh25 {
  min-height: 25%;
}

.color-fff {
  color: #fff;
}

.gallery {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 90%;
  height: auto;
}

.aboutme-content {
  width: 75%;
  margin: 0 auto;
}

/* LANDSCAPE PHONE */

@media only screen and (min-width: 600px) {
  .headshot {
    width: 30%;
  }
}

/* LANDSCAPE TABLET */

@media only screen and (min-width: 1000px) {
  .contactme-form {
    width: 50% !important;
  }

  .who {
    float: left;
    width: 50%;
  }

  .things {
    float: left;
    width: 50%;
  }

  .gallery {
    justify-content: flex-start;
  }

  .gallery img {
    max-width: 20%;
  }
}